<section id="booking">
    <div class="container section-heading">
        <div class="row justify-content-center">
            <div class="col-lg-3 text-center">
                <h4>Booking</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 text-center">
                <hr/>
            </div>
        </div>
    </div>
    <div class="container content">
        <div class="row">
            <div class="col-lg-6 order-lg-last description">
                <h1>Urbaner Tanz<br/>
                    <div class="sub">Auf die <strong>Bühne</strong> gebracht.</div>
                </h1>
                <p>
                    Von der Abiturfeier bis zum Firmenkongress:
                    Wir bringen Urbanen Tanz mit all seinen Facetten von der Straße auf Ihre Bühne.
                </p>
                <a href="mailto:kleinpariscrew@gmail.com">
                    <div class="btn btn-info"><i class="far fa-envelope"></i> Buchungsanfrage</div>
                </a>
            </div>
            <div class="col-lg-6 order-lg-first video">
                <div class="videoWrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/xA2Hr9oULU4" frameborder="0"
                            allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>