#header {
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-size: cover;
  background-image: url("../img/header.jpg");
  background-position: center;

  color: white;
  text-shadow: 0 0 20px black;

  .logo {
    //@include box-shadow($box-shadow);
    width: 300px;
    margin-top: 130px;
    margin-bottom: 50px;
    filter: invert(1);
  }

  .caption {
    //margin-bottom: 10px;
    font-size: 3.4rem;
    text-transform: uppercase;
    margin-bottom: .3rem;
  }
  p {
    width: 650px;
    //line-height: 2.8rem;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
  }
  .social-media {
    font-size: 2.3rem;
    .fab {
      margin: 15px;
    }
  }
  a {
    color: inherit;
    &:hover {
      color: $primary;
    }
  }
}

#cores {

  display: flex;
  justify-content: center;
  align-items: center;

  height: 0;
  .btn {
    font-size: 1.5rem;
    border-radius: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-transform: capitalize;
    width: 220px;
    margin: 30px;
    @include box-shadow(0 -5px 15px -5px rgba(black, .4));
    border-top: 1px solid rgba(white, .4);

  }
}

#member {
  @include box-shadow(inset 0 8px 30px -4px black);
  @include gradient-directional(rgba($bg-dark, .9), rgba($bg-dark, 1), 90deg + 45deg);

  padding-top: 150px;
  padding-bottom: 100px;

  //background-color: $bg-dark;
  //background-color: white;
  $text-color: white;
  //color: rgba(black, .8);
  .description {
    padding: 0 40px;
    h1 {
      color: rgba($text-color, 1) !important;
      margin-bottom: 30px;
      //font-size: 2.6rem;
    }

    p {
      color: rgba($text-color, 1);
    }
  }

  .portraits {
    margin-top: 95px;
    padding: 0 40px;

    text-align: center;
    color: rgba($text-color, .6);
    .portrait {
      margin-bottom: 20px;
      .name {
        @extend h3;
        margin-top: 8px;
        margin-bottom: 0;
        color: rgba($text-color, 1);
      }

      .fab {
        margin: 10px 5px;
        font-size: 1.3rem;
      }
      .row {
        @extend .justify-content-center;
        margin-bottom: 25px;
      }
      img {
        margin-top: 3px;
        max-width: 100%;
        max-height: 100%;
      }
    }

  }
}

#booking {
  padding-top: 40px;
  padding-bottom: 120px;
  background: $bg-light;
  .heading {
    margin-bottom: 50px;
    h4 {
      color: rgba(black, .3);
      text-transform: uppercase;
      margin-bottom: 0;
    }
    hr {
      background: rgba(black, .1);
    }
  }

  .content {

    color: black;

    .video {
      margin-top: 130px;
    }
  }
}

#events {
  padding-top: 40px;
  padding-bottom: 100px;

  color: white;
  @include gradient-directional(rgba($primary, 1), rgba($info, 1), 90deg + 45deg);
  @include box-shadow(inset 0 8px 30px -4px rgba(black, .5));

  .heading {
    margin-bottom: 20px;
    h4 {
      color: rgba(white, .4);
      text-transform: uppercase;
      margin-bottom: 0;
    }
    hr {
      background: rgba(white, .4);
      @include box-shadow(0 -3px 8px 0px rgba(black, .25));
    }
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }
  p {
    margin-top: 30px;
  }
  .camp {
    margin-bottom: 100px;
    .btn {
      margin-left: 30px;
    }

    .slick-carousel {
      margin-top: 50px;
      .item {
        height: 300px;
        margin: 0 10px;
      }
    }
  }
  .battle {
    margin-top: 30px;
    img {
      max-width: 400px;
      max-height: 400px;
      margin: 0 50px;
      filter: invert(1);
    }
    .btn {
      margin-right: 30px;
    }
  }
}

#footer {
  background: $bg-dark;
  color: rgba(white, .7);
  padding: 30px 0;
  .fab {
    margin: 0 10px;
  }

  img {
    width: 70px;
    filter: invert(1);
  }
  .bordered {
    border-left: 1px solid rgba(white, .3);
    text-align: center;
  }
  .social-media {
    text-align: right;
  }
}

// global settings

p {
  font-size: 1.5rem;
}

h1 {
  margin-bottom: 1.5rem;
}

.btn {
  text-transform: uppercase;
  border-radius: 2rem;
  $pad: 1.5rem;
  padding-left: $pad;
  padding-right: $pad;
  @include box-shadow(0 8px 10px -5px rgba(black, .4));
}

strong {
  font-style: italic;
  font-weight: 700;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none !important;
  &:hover {
    color: $primary;
  }
}