body {
  background: $bg-dark;
  color: white;
}

p {
  font-size: 1.5rem;
}

h1 {
  margin-bottom: 1.5rem;
}

.btn {
  text-transform: uppercase;
  border-radius: 2rem;
  $pad: 1.5rem;
  padding-left: $pad;
  padding-right: $pad;
  @include box-shadow(0 8px 10px -5px rgba(black, .4));
  .fab, .far {
    margin-right: 5px;
  }
}

strong {
  font-style: italic;
  font-weight: 700;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none !important;
  &:hover {
    color: $primary;
  }
}

// necessary to avoid outer blank space
// happens when container are wrapped
section {
  overflow: auto;
  position: relative;
}