body {
  background: $bg-dark;
  color: white;
  font-size: $font-size-norm-mobile;

  @include media-breakpoint-up(md) {
    font-size: $font-size-norm-desktop;
  }
}

h1 {
  margin-bottom: 15px;
  font-size: 2rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 25px;
    font-size: 3rem;
  }
  .sub {
    font-size: 1.5rem;
    @include media-breakpoint-up(md) {
      font-size: 1.8rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 2.1rem;
      margin-top: -5px;
    }
  }
  strong {
    font-style: italic;
    font-weight: 700;
  }
}

p {
  margin-bottom: 8px;
  @include media-breakpoint-up(md) {
    margin-bottom: 10px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 12px;
  }
  a {
    font-weight: 500;
  }
}

.spacer {
  display: inline-block;
  width: 5px;
  @include media-breakpoint-up(md) {
    width: 10px;
  }
  @include media-breakpoint-up(lg) {
    width: 15px;
  }
}

.btn {
  padding: 3px 23px;
  @include margin-y(3px);

  font-size: $font-size-small-mobile;
  @include media-breakpoint-up(md) {
    font-size: $font-size-small-desktop;
  }
  text-transform: uppercase;
  border-radius: 2rem;
  @include box-shadow(0 8px 10px -5px rgba(black, .4));
  .fab, .far {
    margin-right: 5px;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

// necessary to avoid outer blank space
// happens when container are wrapped
section {
  overflow: auto;
  position: relative;
}