@mixin pad-x($size) {
  padding-left: $size;
  padding-right: $size;
}

@mixin pad-y($size) {
  padding-top: $size;
  padding-bottom: $size;
}

@mixin margin-x($size) {
  margin-left: $size;
  margin-right: $size;
}

@mixin margin-y($size) {
  margin-top: $size;
  margin-bottom: $size;
}

@mixin responsive($max-width) {
  width: 100%;
  max-width: $max-width;
  margin: auto;
  display: block;
}

@mixin description($align-desktop, $align-mobile) {
  text-align: $align-mobile;
  @include media-breakpoint-up(lg) {
    @if $align-desktop == left {
      padding-left: $lg-middle-pad
    }
    @if $align-desktop == right {
      padding-right: $lg-middle-pad
    }
  }
  @include media-breakpoint-up(lg) {
    text-align: $align-desktop !important;
  }
}

@mixin section-heading($text-color, $shadow-color) {
  margin-top: 40px;
  margin-bottom: 20px;
  h4 {
    color: $text-color;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  hr {
    background: lighten($text-color, 40%);
    @include box-shadow(0 -3px 8px 0px $shadow-color);
  }
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%font-big {
  font-size: $font-size-big-mobile;
  @include media-breakpoint-up(md) {
    font-size: $font-size-big-desktop;
  }
}

%font-small {
  font-size: $font-size-small-mobile;
  @include media-breakpoint-up(md) {
    font-size: $font-size-small-desktop;
  }
}

