@mixin pad-x($size) {
  padding-left: $size;
  padding-right: $size;
}

@mixin pad-y($size) {
  padding-top: $size;
  padding-bottom: $size;
}

@mixin margin-x($size) {
  margin-left: $size;
  margin-right: $size;
}

@mixin margin-y($size) {
  margin-top: $size;
  margin-bottom: $size;
}

@mixin description($align-desktop, $align-mobile) {
  text-align: $align-desktop;
  h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }
  p {
    margin-top: 30px;
  }
  .btn {
    @include margin-y(7px);
  }
  @include media-breakpoint-up(lg) {
    @if $align-desktop == left {
      padding-left: $lg-middle-pad
    }
    @if $align-desktop == right {
      padding-right: $lg-middle-pad
    }
  }
  @include media-breakpoint-up(md) {
    .btn {
      @if $align-desktop == left {
        margin-right: 30px;
      }
      @if $align-desktop == right {
        margin-left: 30px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    text-align: $align-mobile !important;
  }
}

@mixin section-heading($text-color, $shadow-color) {
  margin-top: 40px;
  margin-bottom: 20px;
  h4 {
    color: $text-color;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  hr {
    background: lighten($text-color, 40%);
    @include box-shadow(0 -3px 8px 0px $shadow-color);
  }

}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%responsive {
  width: 100%;
  margin: auto;
  display: block;
}