.test {
  @extend %flex-center;
  font-size: .7rem;
  font-weight: 500;
  text-align: center;
  color: white;
  z-index: 2;
  background: rgba(red, .7);
  position: absolute;
  right: 70px;
  top: -80px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid white;
  @include box-shadow(0 0 20px 0 black);
  transform: rotate(20deg);
}

#header {
  @extend %flex-center;
  height: 87vh;

  color: white;
  text-shadow: 0 0 20px black;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center;

  @include media-breakpoint-down(sm) {
    height: 100vh;
  }

  .logo-container {
    margin-top: 130px;
    margin-bottom: 50px;
    text-align: center;

    @include media-breakpoint-down(sm) {
      margin-top: 30px;
    }
    .logo {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      //display: block;

      filter: invert(1);

      @include media-breakpoint-down(md) {
        width: 400px;
      }

      @include media-breakpoint-down(sm) {
        width: 225px;
      }
    }
  }
  .caption-container {
    text-align: center;
    .caption {
      margin-bottom: .3rem;
      font-size: 3.4rem;
      text-transform: uppercase;
      //text-align: center;

      @include media-breakpoint-down(sm) {
        font-size: 2.2rem;
        margin-bottom: 15px;
      }
    }
    .subcaption {
      font-size: 1.6rem;
      font-weight: 500;
      @include pad-x(20px);
      @include media-breakpoint-down(sm) {
        padding: 0;
        font-size: 1.3rem;
      }
    }
    .social-media {
      font-size: 2.3rem;
      .fab {
        margin: 15px;
      }
    }
    a {
      color: inherit;
      &:hover {
        color: $primary;
      }
    }
  }
}

#cores {
  @extend %flex-center;
  height: 0;
  @include media-breakpoint-down(sm) {
    visibility: hidden;
  }
  @include media-breakpoint-up(md) {
    overflow: visible;
    z-index: 1;
  }

  .btn {
    display: block;
    margin: auto;
    @include media-breakpoint-up(lg) {
      width: 220px;
      @include pad-x(3rem);

      font-size: 1.5rem;
    }

    //@include margin-x(40px);
    width: 180px;

    text-transform: capitalize;
    border-radius: 2rem;
    border-top: 1px solid rgba(white, .6);
    @include box-shadow(0 -5px 15px -5px rgba(black, .4));
  }
}

#member {

  padding-top: 150px;
  padding-bottom: 100px;

  color: white;
  @include box-shadow(inset 0 8px 30px -4px black);
  @include gradient-directional(#221C3D, $bg-dark, 90deg + 45deg);

  @include media-breakpoint-down(sm) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .description {
    @include description(right, center);
  }

  .portraits {
    margin-top: 95px;
    @include media-breakpoint-up(lg) {
      padding-left: $lg-middle-pad;
    }

    .portrait {
      margin-bottom: 20px;
      text-align: center;
      color: rgba(white, .6);

      @include media-breakpoint-down(sm) {
        margin-bottom: 50px;
      }
      .name {
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 1.5rem;
        font-family: $headings-font-family;
        color: rgba(white, 1);
        @include media-breakpoint-down(sm) {
          font-size: 1.8rem;
        }
      }
      .style {
        @include media-breakpoint-down(sm) {
          border-bottom: 1px solid rgba(white, .1);
        }
      }

      .fab {
        margin: 10px 5px;
        font-size: 1.3rem;

        @include media-breakpoint-down(sm) {
          font-size: 1.8rem;
          margin-top: 20px;
          @include margin-x(12px);
        }
      }
      img {
        width: 100%;
        margin-top: 3px;
        border-radius: 50% !important;
      }
    }

  }
}

#booking {
  padding-bottom: 120px;
  background: $bg-light;

  .section-heading {
    @include section-heading(rgba(black, .3), rgba(white, 1));
  }

  .content {
    color: black;
    margin-top: 40px;
    .description {
      @include description(left, left);
    }

    .video {
      @include media-breakpoint-up(lg) {
        padding-right: $lg-middle-pad;
      }
      margin-top: 130px;
      @include media-breakpoint-down(md) {
        margin-top: 70px;
      }
    }

  }
}

#events {
  padding-top: 20px;
  padding-bottom: 100px;

  color: white;
  @include gradient-directional(rgba($primary, 1), rgba($info, 1), 90deg + 45deg);
  @include box-shadow(inset 0 8px 30px -4px rgba(black, .5));

  .section-heading {
    @include section-heading(rgba(white, .4), rgba(black, .25));
  }

  .camp {
    margin-bottom: 100px;
    .description {
      @include description(right, center);
    }
    .key-visual {
      @extend %responsive;
      padding: $lg-middle-pad;
    }
    .slick-carousel {
      margin-top: 50px;
      .item {
        height: 300px;
        @include margin-x(1px);
      }
    }
  }

  .battle {
    margin-top: 30px;
    .key-visual {
      @extend %responsive;
      padding: $lg-middle-pad;
      filter: invert(1);
    }
    .description {
      @include description(left, center);
    }
  }
}

#footer {
  background: $bg-dark;
  color: rgba(white, .7);
  padding: 30px 0;

  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
  }

  .row > * {
    @include margin-y(5px);
  }

  .fab {
    margin: 0 10px;
  }

  img {
    @extend %responsive;
    max-width: 170px;
    filter: invert(1);
  }
  .bordered {
    //border-left: 1px solid rgba(white, .3);
    text-align: center;
  }
  .social-media {
    text-align: center;
  }
}

#training {
  padding-top: 20px;
  padding-bottom: 150px;
  background: $bg-light;
  color: black;
  @include box-shadow(inset 0 8px 30px -4px rgba(black, .5));

  .section-heading {
    @include section-heading(rgba(black, .4), white);
    padding-bottom: 70px;
  }
  .weekday {
    text-align: center;
    padding-bottom: 20px;
  }

  .entries {
    hr {
      width: 70%;
    }
    //text-align: center;
    .entry {
      margin-bottom: 40px;
      align-items: center;
    }
    .time {
      color: rgba(black, .6);
      //font-weight: bold;
    }
    .title {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
    .location {
      font-size: .8rem;
      margin-top: 15px;
      display: inline-block;
      padding: 2px 9px;

      background: rgba(black, .4);
      color: rgba(white, .9);
      border-radius: 2px;
    }
  }
}
