#header {
  @extend %flex-center;
  flex-direction: column;
  height: 87vh;

  color: white;
  text-shadow: 0 0 20px black;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center;

  .logo {
    width: 300px;
    margin-top: 130px;
    margin-bottom: 50px;

    filter: invert(1);

    @include media-breakpoint-down(md) {
      width: 225px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 30px;
    }
  }

  .caption {
    margin-bottom: .3rem;

    font-size: 3.4rem;
    text-transform: uppercase;

    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
      margin-bottom: 5px;
    }
  }
  .description {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    @include media-breakpoint-down(sm) {
      font-size: 1.3rem;
    }
  }
  .social-media {
    font-size: 2.3rem;
    .fab {
      margin: 15px;
    }
  }
  a {
    color: inherit;
    &:hover {
      color: $primary;
    }
  }
}

#cores {
  @include media-breakpoint-down(sm) {
    visibility: hidden;
  }
  @include media-breakpoint-up(md) {
    overflow: visible;
    z-index: 1;
  }

  @extend %flex-center;
  height: 0;

  .btn {
    @include media-breakpoint-up(lg) {
      width: 220px;
      @include pad-x(3rem);

      font-size: 1.5rem;
    }

    margin: 30px;
    width: 180px;

    text-transform: capitalize;
    border-radius: 2rem;
    border-top: 1px solid rgba(white, .4);
    @include box-shadow(0 -5px 15px -5px rgba(black, .4));
  }
}

#member {

  padding-top: 150px;
  padding-bottom: 100px;

  $text-color: white;
  @include box-shadow(inset 0 8px 30px -4px black);
  @include gradient-directional(rgba($bg-dark, .9), rgba($bg-dark, 1), 90deg + 45deg);

  @include media-breakpoint-down(sm) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .description {
    color: white;
    @include description(right, center);
  }

  .portraits {
    margin-top: 95px;
    @include media-breakpoint-up(lg) {
      padding-left: $lg-middle-pad;
    }

    text-align: center;
    color: rgba($text-color, .6);
    .portrait {
      margin-bottom: 20px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 50px;
      }
      .name {
        @extend h3;
        margin-top: 8px;
        margin-bottom: 0;
        color: rgba($text-color, 1);
        @include media-breakpoint-down(md) {
          font-size: 2.5rem;
        }
      }
      .style {
        @include media-breakpoint-down(md) {
          font-size: 2rem;
        }
      }

      .fab {
        margin: 10px 5px;
        font-size: 1.3rem;
        @include media-breakpoint-down(md) {
          font-size: 2rem;
        }
      }
      img {
        @extend %responsive;
        margin-top: 3px;

      }
    }

  }
}

#booking {
  padding-bottom: 120px;
  background: $bg-light;

  .section-heading {
    @include section-heading(rgba(black, .3), rgba(white, 1));
  }

  .content {
    color: black;
    margin-top: 40px;
    .description {
      @include description(left, left);
    }

    .video {
      @include media-breakpoint-up(lg) {
        padding-right: $lg-middle-pad;
      }
      margin-top: 130px;
      @include media-breakpoint-down(md) {
        margin-top: 70px;
      }
    }

  }
}

#events {
  padding-top: 20px;
  padding-bottom: 100px;

  color: white;
  @include gradient-directional(rgba($primary, 1), rgba($info, 1), 90deg + 45deg);
  @include box-shadow(inset 0 8px 30px -4px rgba(black, .5));

  .section-heading {
    @include section-heading(rgba(white, .4), rgba(black, .25));
  }

  .camp {
    margin-bottom: 100px;
    .description {
      @include description(right, center);
    }
    .key-visual {
      @extend %responsive;
      padding: $lg-middle-pad;
    }
    .slick-carousel {
      margin-top: 50px;
      .item {
        height: 300px;
        @include margin-x(1px);
      }
    }
  }

  .battle {
    margin-top: 30px;
    .key-visual {
      @extend %responsive;
      padding: $lg-middle-pad;
      filter: invert(1);
    }
    .description {
      @include description(left, center);
    }
  }
}

#footer {
  background: $bg-dark;
  color: rgba(white, .7);
  padding: 30px 0;

  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
  }

  .row > * {
    @include margin-y(5px);
  }

  .fab {
    margin: 0 10px;
  }

  img {
    @extend %responsive;
    max-width: 170px;
    filter: invert(1);
  }
  .bordered {
    //border-left: 1px solid rgba(white, .3);
    text-align: center;
  }
  .social-media {
    text-align: center;
  }
}
