@import url('https://fonts.googleapis.com/css?family=Barlow:400,700,700i|Montserrat:300,400,500');

// OWN STYLE DEFINITION

$lg-middle-pad: 35px;

$font-size-mobile: 1.1rem;
$font-size-desktop: 1.3rem;
$font-size-small: .95rem;
$font-size-tiny: .8rem;
$font-size-big: 1.6rem;

$bg-dark: #110726;
$bg-light: #F8F5FF;

// OVERWRITE BOOTSTRAP

$headings-font-family: 'Barlow', sans-serif;
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-weight-normal: 300;

$font-size-base: $font-size-mobile;

$primary: #FF3275;
$secondary: #00CF9C;
$info: #6D26FF;

$body-bg: $bg-dark;
$body-color: white;

$font-weight-normal: 300;
$link-color: $body-color;
$link-hover-color: $primary;
$link-hover-decoration: none;

$enable-shadows: true;