@import url('https://fonts.googleapis.com/css?family=Barlow:400,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

$headings-font-family: 'Barlow', sans-serif;
$font-family-sans-serif: 'Montserrat', sans-serif;

$primary: #FF3275;
$secondary: #00CF9C;
$info: #6D26FF;

$bg-dark: #110726;
$bg-light: #F8F5FF;

$enable-shadows: true;
$font-weight-normal: 300;

$lg-middle-pad: 35px;