<section id="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-1"><img src="img/kleinparis.png"></div>
            <div class="col-lg-2 social-media">
                <a href="https://www.facebook.com/kleinPariser/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://soundcloud.com/philipp-anders-7" target="_blank"><i class="fab fa-soundcloud"></i></a>
                <a href="https://www.instagram.com/kleinparis_fam/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/user/sheaker1988" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-2 bordered">
                <a href="imprint.html">Impressum</a>
            </div>
            <div class="col-lg-2 bordered">
                <a href="privacy_policy.html">Datenschutzerklärung</a>
            </div>
            <div class="col-lg-2 bordered">
                <a href="mailto:kleinpariscrew@gmail.com">Kontakt</a>
            </div>
        </div>
    </div>
</section>
