
#footer {
  background: $bg-dark;
  color: rgba(white, .7);
  padding: 30px 0;
  font-size: $font-size-tiny;

  .row > * {
    @include margin-y(5px);
  }

  .fab {
    margin: 6px 10px;
    font-size: $font-size-big-desktop;
    @include media-breakpoint-up(lg) {
      font-size: $font-size-tiny;
    }
  }

  img {
    @include responsive(170px);
    filter: invert(1);
  }
  .bordered {
    //border-left: 1px solid rgba(white, .3);
    text-align: center;
  }
  .social-media {
    text-align: center;
  }
}