#cores {
  @extend %flex-center;
  height: 0;
  @include media-breakpoint-down(sm) {
    visibility: hidden;
  }
  @include media-breakpoint-up(md) {
    overflow: visible;
    z-index: 1;
  }
  .container {
    position: absolute;
    width: 100%;
    top: -20px;
  }

  .btn {
    @extend %flex-center;
    height: 40px;
    margin: auto;
    font-size: $font-size-norm-mobile;

    @include media-breakpoint-up(lg) {
      width: 220px;
      @include pad-x(3rem);

      font-size: $font-size-norm-desktop;
    }

    //@include margin-x(40px);
    width: 180px;

    text-transform: capitalize;
    border-radius: 2rem;
    border-top: 1px solid rgba(white, .6);
    @include box-shadow(0 -5px 15px -5px rgba(black, .4));
  }

  .description {
    margin-top: 10px;
    color: rgba(white, .5);
    text-align: center;
  }
}