<section id="cores">
    <div class="container">
        <div class="row just">
            <div class="col-lg-1"></div>
            <div class="col">
                <a href="#events">
                    <div class="btn btn-primary btn-lg">EVENTS</div>
                    <div class="description"><i class="fa fa-exclamation"></i> 14.07.2018:<br/><strong>Battle the Ramp</strong></div>
                </a>
            </div>
            <div class="col">
                <a href="#booking">
                    <div class="btn btn-info btn-lg">BOOKING</div>
                </a>
            </div>
            <div class="col">
                <a href="#training">
                    <div class="btn btn-secondary btn-lg">TRAINING</div>
                    <div class="description"><i class="fa fa-exclamation"></i> 13.07.2018:<br/><strong>BtR Prep Workshops</strong></div>
                </a>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>