<section id="member">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 description">
                <h1>Leipzigs <strong>All-Styles</strong> Crew</h1>
                <p>
                    KleinParis ist mehr als eine Breakdance Crew.
                    Das Team besteht aus Spezialisten aller Urbaner Tanzstile.
                    Unsere Diversität ist unsere Kraft.
                </p>
                <a href="mailto:kleinpariscrew@gmail.com">
                    <div class="btn btn-primary"><i class="far fa-envelope"></i> Kontakt</div>
                </a>
            </div>
            <div class="col-lg-6 portraits">
                <div class="row align-content-center justify-content-center">
                    {{> portrait name="Valeska" style="House" imgUrl="img/portraits/valeska.jpg" instagram="https://www.instagram.com/valeskapasta/" soundcloud="https://soundcloud.com/valeska-s-peace" reflect=true}}
                    {{> portrait name="Ali" style="House" imgUrl="img/portraits/ali.png" instagram="https://www.instagram.com/ali.kerdieh99/" facebook="https://www.facebook.com/Ali.kerdieh23" reflect=true}}
                    {{> portrait name="Daniel" style="Locking" imgUrl="img/portraits/daniel.png" instagram="https://www.instagram.com/danisun_kleinparis/" facebook="https://www.facebook.com/danni.jmi" reflect=true}}
                    {{> portrait name="Phil" style="Hip Hop" imgUrl="img/portraits/phil.png" instagram="https://www.instagram.com/phil_vong_kleinparis/" soundcloud="https://soundcloud.com/philipp-anders-7" reflect=true}}
                    {{> portrait name="Ken" style="Hip Hop" imgUrl="img/portraits/ken.jpg" instagram="https://www.instagram.com/kenkleinparis/"}}
                    {{> portrait name="Max" style="Hip Hop" imgUrl="img/portraits/max.jpg" instagram="https://www.instagram.com/max_kleinparis/"}}
                    {{> portrait name="Huy" style="Popping" imgUrl="img/portraits/huy.jpg" instagram="https://www.instagram.com/hyudoc_kleinparis/"}}
                </div>
            </div>
            <div class="col-7 wrapper">
            </div>
        </div>
    </div>
</section>
