#member {

  padding-top: 150px;
  padding-bottom: 100px;

  color: white;
  @include gradient-directional(#221C3D, $bg-dark, 90deg + 45deg);

  @include media-breakpoint-down(sm) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .description {
    @include description(right, center);
  }

  .portraits {
    margin-top: 40px;
    @include media-breakpoint-up(lg) {
      padding-left: $lg-middle-pad;
      margin-top: 95px;
    }

    .portrait {
      margin-bottom: 20px;
      text-align: center;
      .name {
        margin-top: 8px;
        margin-bottom: -3px;
        font-family: $headings-font-family;
        @extend %font-big;
      }

      .style {
        color: rgba(white, .6);
        @extend %font-small;
      }

      .fab {
        color: rgba(white, .6);
        margin: 8px;

        @include media-breakpoint-up(md) {
          margin: 10px 5px;
        }
      }
      img {
        @include responsive(150px);
        margin-top: 3px;
        border-radius: 50% !important;
      }
    }

  }

}