#member {

  padding-top: 150px;
  padding-bottom: 100px;

  color: white;
  @include gradient-directional(#221C3D, $bg-dark, 90deg + 45deg);

  @include media-breakpoint-down(sm) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .description {
    @include description(right, center);
  }

  .portraits {
    margin-top: 95px;
    @include media-breakpoint-up(lg) {
      padding-left: $lg-middle-pad;
    }

    .portrait {
      margin-bottom: 20px;
      text-align: center;
      color: rgba(white, .6);

      @include media-breakpoint-down(sm) {
        margin-bottom: 50px;
      }
      .name {
        margin-top: 8px;
        margin-bottom: 0;

        font-size: 2.5rem;
        font-family: $headings-font-family;
        color: rgba(white, 1);

        @include media-breakpoint-up(md) {
          font-size: 1.5rem;
        }
      }

      .style {
        font-size: 1.5rem;

        @include media-breakpoint-up(md) {
          font-size: 1rem;
        }
      }

      .fab {
        font-size: 1.8rem;
        margin-top: 15px;
        @include margin-x(14px);

        @include media-breakpoint-up(md) {
          margin: 10px 5px;
          font-size: 1.3rem;
        }
      }
      img {
        width: 100%;
        max-width: 200px;
        margin-top: 3px;
        border-radius: 50% !important;
      }
    }

  }

}