<section id="training">
    <div class="container section-heading">
        <div class="row justify-content-center">
            <div class="col-lg-4 text-center">
                <h4>Training</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 text-center">
                <hr/>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center entries">
            <div class="col-lg-2 weekday">
                <div class="row">
                    <div class="col-12">
                        <h5 class="header">Mo</h5>
                    </div>
                    <div class="entry-container dummy">
                        <div class="entry"></div>
                    </div>
                    <div class="entry-container">
                        <div class="entry">
                            <div class="avatar-container">
                                <img class="avatar" src="img/portraits/ken.jpg"/>
                            </div>
                            <div class="description">
                                <div class="time">17:30 – 19:00</div>
                                <div class="title">Hip Hop<br/>Rookies</div>
                                <a href="https://rahn.education/break-art-studios-in-leipzig.html" target="_blank">
                                    <div class="location">BASS LE <i class="fas fa-external-link-alt"></i></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="entry-container">
                        <div class="entry">
                            <div class="avatar-container">
                                <img class="avatar" src="img/portraits/ken.jpg"/>
                            </div>
                            <div class="description">
                                <div class="time">19:00 – 20:30</div>
                                <div class="title">Hip Hop<br/>Adults</div>
                                <a href="https://rahn.education/break-art-studios-in-leipzig.html" target="_blank">
                                    <div class="location">BASS LE <i class="fas fa-external-link-alt"></i></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 weekday">
                <div class="row">
                    <div class="col-12">
                        <h5 class="header">Di</h5>
                    </div>
                    <div class="entry-container">
                        <div class="entry">
                            <div class="avatar-container">
                                <img class="avatar" src="img/portraits/daniel.png"/>
                            </div>
                            <div class="description">
                                <div class="time">16:00 – 17:00</div>
                                <div class="title">Hip Hop<br/>Rookies</div>
                                <a href="http://www.heizhaus-leipzig.com/index.php?id=163" target="_blank">
                                    <div class="location">Heizhaus LE <i class="fas fa-external-link-alt"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="entry-container">
                        <div class="entry">
                            <div class="avatar-container">
                                <img class="avatar" src="img/portraits/daniel.png"/>
                            </div>
                            <div class="description">
                                <div class="time">17:00 – 18:00</div>
                                <div class="title">Hip Hop<br/>Pros</div>
                                <a href="http://www.heizhaus-leipzig.com/index.php?id=163" target="_blank">
                                    <div class="location">Heizhaus LE <i class="fas fa-external-link-alt"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="entry-container">
                        <div class="entry">
                            <div class="avatar-container">
                                <img class="avatar" src="img/portraits/ali.png"/>
                            </div>
                            <div class="description">
                                <div class="time">18:00 – 19:30</div>
                                <div class="title">Hip Hop<br/>All Levels</div>
                                <a href="http://www.etage5-tanzstudio.de/UrbanDance--HipHop-_20.html?Kurs=2"
                                   target="_blank">
                                    <div class="location">Etage 5 LE <i class="fas fa-external-link-alt"></i></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 weekday">
                <div class="row">
                    <div class="col-12">
                        <h5 class="header">Mi</h5>
                    </div>

                    <div class="entry-container">
                        <div class="entry">
                            <div class="avatar-container">
                                <img class="avatar" src="img/portraits/daniel.png"/>
                            </div>
                            <div class="description">
                                <div class="time">16:00 – 16:45</div>
                                <div class="title">Hip Hop<br/>6 - 10 J.</div>
                                <a href="http://www.flugfisch.de/stundenplan/" target="_blank">
                                    <div class="location">Flugfisch LE <i class="fas fa-external-link-alt"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="entry-container">
                        <div class="entry">
                            <div class="avatar-container">
                                <img class="avatar" src="img/portraits/daniel.png"/>
                            </div>
                            <div class="description">
                                <div class="time">16:45 – 17:45</div>
                                <div class="title">Hip Hop<br/>10 - 14 J.</div>
                                <a href="http://www.flugfisch.de/stundenplan/" target="_blank">
                                    <div class="location">Flugfisch LE <i class="fas fa-external-link-alt"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="entry-container">
                        <div class="entry">
                            <div class="avatar-container">
                                <img class="avatar" src="img/portraits/daniel.png"/>
                            </div>
                            <div class="description">
                                <div class="time">18:00 – 19:00</div>
                                <div class="title">Hip Hop<br/>14 - 18 J.</div>
                                <a href="http://www.flugfisch.de/stundenplan/" target="_blank">
                                    <div class="location">Flugfisch LE <i class="fas fa-external-link-alt"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="entry-container">
                        <div class="entry">
                            <div class="avatar-container">
                                <img class="avatar" src="img/portraits/ali.png"/>
                            </div>
                            <div class="description">
                                <div class="time">18:30 – 20:00</div>
                                <div class="title">Hip Hop<br/>All Levels</div>
                                <a href="http://www.tanzstudio-tendance.de/frame.html" target="_blank">
                                    <div class="location">Tendance LE <i class="fas fa-external-link-alt"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="entry-container">
                        <div class="entry">
                            <div class="avatar-container">
                                <img class="avatar" src="img/portraits/daniel.png"/>
                            </div>
                            <div class="description">
                                <div class="time">19:00 – 20:00</div>
                                <div class="title">Hip Hop<br/>Adults</div>
                                <a href="http://www.flugfisch.de/stundenplan/" target="_blank">
                                    <div class="location">Flugfisch LE <i class="fas fa-external-link-alt"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 weekday">
                <h5 class="header">Do</h5>

            </div>
            <div class="col-lg-2 weekday">
                <div class="row">
                    <div class="col-12">
                        <h5 class="header">Fr</h5>
                    </div>
                    <div class="entry-container">
                        <div class="entry">
                            <div class="avatar-container">
                                <img src="img/portraits/all.png"/>
                            </div>
                            <div class="description">
                                <div class="time">16:00 – 18:30</div>
                                <div class="title">Junior<br/>Training</div>
                                <a href="http://www.heizhaus-leipzig.com/index.php?id=163" target="_blank">
                                    <div class="location">Heizhaus LE <i class="fas fa-external-link-alt"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="entry-container dummy">
                        <div class="entry"></div>
                    </div>
                    <div class="entry-container">
                        <div class="entry">
                            <div class="avatar-container">
                                <img src="img/portraits/all.png"/>
                            </div>
                            <div class="description">
                                <div class="time">18:30 – 20:00</div>
                                <div class="title text-primary">All Styles<br/>Adults <i class="fas fa-arrow-down"></i>
                                </div>
                                <a href="http://www.heizhaus-leipzig.com/index.php?id=163" target="_blank">
                                    <div class="location">Heizhaus LE <i class="fas fa-external-link-alt"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h5 class="text-center mb-4 text-primary">
                            All Styles Adults:<br/>Jede Woche ein anderer Stil
                        </h5>
                    </div>
                    <div class="entry-container">
                        <div class="entry-small">
                            <div class="avatar-container">
                                <img class="avatar" src="img/portraits/ken.jpg"/>
                            </div>
                            <div class="description">
                                <div class="time">09.06.2018</div>
                                <div class="title">Hip Hop</div>
                            </div>
                        </div>
                    </div>
                    <div class="entry-container">
                        <div class="entry-small">
                            <div class="avatar-container">
                                <img class="avatar" src="img/portraits/ali.png"/>
                            </div>
                            <div class="description">
                                <div class="time">15.06.2018</div>
                                <div class="title">Waacking</div>
                            </div>
                        </div>
                    </div>
                    <div class="entry-container">
                        <div class="entry-small">
                            <div class="avatar-container">
                                <img class="avatar" src="img/portraits/daniel.png"/>
                            </div>
                            <div class="description">
                                <div class="time">22.06.2018</div>
                                <div class="title">Locking</div>
                            </div>
                        </div>
                    </div>
                    <div class="entry-container">
                        <div class="entry-small">
                            <div class="avatar-container">
                                <img class="avatar" src="img/portraits/valeska.jpg"/>
                            </div>
                            <div class="description">
                                <div class="time">29.06.2018</div>
                                <div class="title">House</div>
                            </div>
                        </div>
                    </div>
                    <div class="entry-container">
                        <div class="entry-small">
                            <div class="avatar-container">
                                <img class="avatar" src="img/portraits/phil.png"/>
                            </div>
                            <div class="description">
                                <div class="time">06.07.2018</div>
                                <div class="title">Footwork</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
