#training {
  padding-top: 20px;
  padding-bottom: 150px;
  background: $bg-light;
  color: black;
  @include box-shadow(inset 0 15px 15px -8px rgba(black, .5));

  .section-heading {
    @include section-heading(rgba(black, .4), white);
    padding-bottom: 70px;
  }

  .weekday {
    &:not(:last-child) {
      border-right: 1px solid rgba(black, .07);
    }
    .header {
      text-align: center;
      padding-bottom: 20px;
    }

    &.dummy {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    .entry-container {
      @extend .col-6;
      @extend .col-sm-3;
      @extend .col-lg-12;
      padding: 0;
    }
  }

  .entry {
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
    @include media-breakpoint-up(xl) {
      text-align: left;
    }
    img {
      &.avatar {
        border-radius: 50% !important;
      }
      @include responsive(110px);
      @include margin-y(15px);
      @include media-breakpoint-up(xl) {
        @include responsive(75px);
        width: 90%;
      }
    }

    .time {
      color: rgba(black, .7);
      font-size: $font-size-tiny;
    }
    .title {
      @extend %truncate;
      font-size: $font-size-small-mobile;
      line-height: $font-size-small-mobile;
      @include media-breakpoint-up(md) {
        font-size: $font-size-small-desktop;
        line-height: $font-size-small-desktop;

      }
      font-weight: 500;
    }
    .location {
      @extend %truncate;
      font-size: $font-size-tiny;
      display: inline-block;
      padding: 1px 6px;

      background: rgba(black, .4);
      color: rgba(white, .9);
      border-radius: 2px;
      margin-top: 10px;
      transition: background-color 0.15s ease;

      &:hover {
        background: $bg-dark;
      }
    }
  }

  .friday-class {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid rgba(black, .07);

    .description {
      @include description(right, left);
      margin-bottom: 30px;
    }
    .class-descriptions {
      @include media-breakpoint-up(sm) {
        flex-wrap: nowrap;
        overflow-x: auto;
      }
    }
    .entry-container {
      @extend .col-6;
      @extend .col-sm-4;
      margin-bottom: 30px;
      &:not(:last-child) {
        border-right: 1px solid rgba(black, .07);
      }
    }
    .heading {
      @extend %font-big;
      font-family: $headings-font-family;
    }
    .date {
      //@extend %font-small;
      margin-bottom: -8px;
    }
    .details {
      @extend %font-small;
    }
  }

}
