<section id="training">
    <div class="container section-heading">
        <div class="row justify-content-center">
            <div class="col-lg-4 text-center">
                <h4>Training</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 text-center">
                <hr/>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-2 weekday">
                <div class="row">
                    <div class="col-12">
                        <h5 class="header">Mo</h5>
                    </div>
                    <div class="entry-container">
                        {{> entry imgUrl="img/portraits/ken.jpg" title="Hip Hop Rookies" time="17:30 - 19:00" location="BASS LE" link="https://rahn.education/break-art-studios-in-leipzig.html" }}
                    </div>
                    <div class="entry-container">
                        {{> entry imgUrl="img/portraits/ken.jpg" title="Hip Hop Adults" time="19:00 - 20:30" location="BASS LE" link="https://rahn.education/break-art-studios-in-leipzig.html" }}
                    </div>
                </div>
            </div>
            <div class="col-lg-2 weekday">
                <div class="row">
                    <div class="col-12">
                        <h5 class="header">Di</h5>
                    </div>
                    <div class="entry-container">
                        {{> entry imgUrl="img/portraits/daniel.png" title="Hip Hop Rookies" time="16:00 - 17:00" location="Heizhaus LE" link="http://www.heizhaus-leipzig.com/index.php?id=163" }}
                    </div>
                    <div class="entry-container">
                        {{> entry imgUrl="img/portraits/daniel.png" title="Hip Hop Pros" time="17:00 - 18:00" location="Heizhaus LE" link="http://www.heizhaus-leipzig.com/index.php?id=163" }}
                    </div>
                    <div class="entry-container">
                        {{> entry imgUrl="img/portraits/ali.png" title="Hip Hop All Levels" time="18:00 - 19:30" location="Etage 5 LE" link="http://www.etage5-tanzstudio.de/UrbanDance--HipHop-_20.html?Kurs=2" }}
                    </div>
                </div>
            </div>
            <div class="col-lg-2 weekday">
                <div class="row">
                    <div class="col-12">
                        <h5 class="header">Mi</h5>
                    </div>
                    <div class="entry-container">
                        {{> entry imgUrl="img/portraits/daniel.png" title="Hip Hop 6 - 10 J." time="16:00 – 16:45" location="Flugfisch LE" link="http://www.flugfisch.de/stundenplan/" }}
                    </div>
                    <div class="entry-container">
                        {{> entry imgUrl="img/portraits/daniel.png" title="Hip Hop 10 - 14 J." time="16:45 – 17:45" location="Flugfisch LE" link="http://www.flugfisch.de/stundenplan/" }}
                    </div>
                    <div class="entry-container">
                        {{> entry imgUrl="img/portraits/daniel.png" title="Hip Hop 14 - 18 J." time="18:00 – 19:00" location="Flugfisch LE" link="http://www.flugfisch.de/stundenplan/" }}
                    </div>
                    <div class="entry-container">
                        {{> entry imgUrl="img/portraits/ali.png" title="Hip Hop All Levels" time="18:30 - 20:00" location="Tendance LE" link="http://www.tanzstudio-tendance.de/frame.html" }}
                    </div>
                    <div class="entry-container">
                        {{> entry imgUrl="img/portraits/daniel.png" title="Hip Hop Adults" time="19:00 – 20:00" location="Flugfisch LE" link="http://www.flugfisch.de/stundenplan/" }}
                    </div>

                </div>
            </div>
            <div class="col-lg-2 weekday">
                <h5 class="header">Do</h5>

            </div>
            <div class="col-lg-2 weekday">
                <div class="row">
                    <div class="col-12">
                        <h5 class="header">Fr</h5>
                    </div>
                    <div class="entry-container">
                        {{> entry imgUrl="img/portraits/all.png" title="Junior Training" time="16:00 – 18:30" location="Heizhaus LE" link="http://www.heizhaus-leipzig.com/index.php?id=163" }}
                    </div>
                    <div class="entry-container">
                        {{> entry imgUrl="img/portraits/all.png" title="All Styles Adults" time="18:30 – 20:00" location="Heizhaus LE" link="http://www.heizhaus-leipzig.com/index.php?id=163" }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid friday-class">
        <div class="row justify-content-center">
            <div class="col-md-10 col-xl-4 description">
                <h1>Der Adults-Freitagskurs
                    <div class="sub">Jede Woche <strong>ein anderer Stil.</strong></div>
                </h1>
                <p>
                    Jeden Freitag <strong>von 18:30 bis 20:00 Uhr</strong> präsentieren wir Workshops speziell
                    für Erwachsene. Jede Woche ein anderer Stil, jede Woche in anderer Trainer, aber immer mit Fokus auf
                    Technik, Freestyle und Improvisation. Kommt einfach vorbei!
                </p>
            </div>
            <div class="col-md-10 col-xl-6">
                <div class="row class-descriptions">
                    <div class="entry-container">
                        {{> entry imgUrl="img/portraits/daniel.png"  title="Daniel"  time="18:30 - 20:00" location="Heizhaus LE" link="http://www.heizhaus-leipzig.com/index.php?id=163" }}
                        <div class="date">Fr, 06.07.2018</div>
                        <h1 class="heading">Locking</h1>
                        <p class="details">Auf humorvolle Weise erlernt ihr typische Locking-Bewegungen wie z.B. den
                            „Scooby Doo“ oder das „Funky Chicken“. Die Moves stammen von den Social Dances der 60er in
                            den USA, als man noch miteinander tanzte, anstatt gegeneinander.</p>
                    </div>
                    <div class="entry-container">
                        {{> entry imgUrl="img/portraits/all.png"  title="KleinParis Crew"  time="18:30 - 20:00" location="Heizhaus LE" link="http://www.heizhaus-leipzig.com/index.php?id=163" }}
                        <div class="date">Fr, 13.07.2018</div>
                        <h1 class="heading">BtR Special</h1>
                        <p class="details">
                            Wir bereiten euch mit besonderen Workshops auf unser Nachwuchsbattle <a
                                href="https://www.facebook.com/events/2061772620712796/">Battle the Ramp</a>
                            am 14.07.2018 vor.
                            Von 15:00 bis 16:30 üben Ken und
                            Daniel mit euch Charakterbildung für HipHop & Locking.
                            Von 16:45 bis 18:15 gibt es Clubvibes mit Valeska und Ali in den Stilrichtungen House &
                            Waacking.
                            Abschließend gibt Phil von 18:30 bis 20:00 einen Workshop zum Thema "Solo
                            Confidence". Ihr lernt Methoden, um weniger Lampenfieber und Leistungsdruck beim Freestylen
                            zu
                            empfinden.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
