<section id="header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 caption-container">
                <img class="logo" src="img/kleinparis.png"/>
                <h1 class="caption"><strong>Urban Dance.</strong> Aus Leipzig.</h1>
                <p class="subcaption">
                    Popping, Locking, Hip Hop & Co:
                    Wir gestalten die Urbane Tanzszene in Leipzig als aktive Freestylecrew.
                </p>

                <div class="social-media">
                    <a href="https://www.facebook.com/kleinPariser/" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="https://soundcloud.com/philipp-anders-7" target="_blank"><i class="fab fa-soundcloud"></i></a>
                    <a href="https://www.instagram.com/kleinparis_fam/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/user/sheaker1988" target="_blank"><i
                            class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>