#header {
  @extend %flex-center;
  height: 100vh;

  color: white;
  text-shadow: 0 0 20px black;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center;

  @include media-breakpoint-up(md) {
    height: 87vh;
  }

  .logo-container {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-top: 130px;
    }
    .logo {
      width: 225px;
      @include margin-x(auto);
      filter: invert(1);

      @include media-breakpoint-up(md) {
        width: 400px;
      }

      @include media-breakpoint-up(sm) {
        width: 300px;
      }
    }
  }
  .caption-container {
    text-align: center;
    .caption {
      font-size: 2.2rem;
      margin-bottom: 5px;
      text-transform: uppercase;
      //text-align: center;

      @include media-breakpoint-up(md) {
        margin-bottom: 5px;
        font-size: 3.4rem;
      }
    }
    .subcaption {
      font-weight: 500;
      @include pad-x(20px);
      padding: 0;
      font-size: $font-size-big-mobile;
      @include media-breakpoint-up(md) {
        @include pad-x(20px);
        font-size: $font-size-big-desktop;
      }
    }
    .social-media {
      font-size: 2.3rem;
      .fab {
        margin: 15px;
      }
    }
    a {
      color: inherit;
      &:hover {
        color: $primary;
      }
    }
  }
}