<section id="events">
    <div class="container section-heading">
        <div class="row justify-content-center">
            <div class="col-lg-4 text-center">
                <h4>Events</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 text-center">
                <hr/>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row camp">
            <div class="col-lg-6 align-self-center">
                <img class="key-visual" src="img/camp/bootcamp6_details.svg">
            </div>
            <div class="col-lg-5 align-self-center description">
                <h1>
                    Bootcamp 6th Edition<br/>
                    <div class="sub">Tanzworkshops · Jams · Vorträge · Battle .
                    </div>
                </h1>

                <p>
                    Am 10. Oktober starten wir mit der sechsten Ausgabe des KleinParis Urban Dance Bootcamp in Leipzig. Euch erwartet eine dretägige Grundausbildung in allen Urbanen Tanzstilen mit Leipzigs besten Freestyle Tänzern.
                </p>
                <a href="mailto:kleinpariscrew@gmail.com">
                    <div class="btn btn-primary"><i class="far fa-envelope"></i> Anmeldung</div>
                </a>
                <div class="spacer"></div>
                <a href="https://www.facebook.com/events/209196853280064/" target="_blank">
                    <div class="btn btn-info"><i class="fab fa-facebook"></i> More Info</div>
                </a>
            </div>
        </div>
    </div>
</section>
