<section id="events">
    <div class="container section-heading">
        <div class="row justify-content-center">
            <div class="col-lg-4 text-center">
                <h4>Events: Trainingslager</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 text-center">
                <hr/>
            </div>
        </div>
    </div>
    <div class="camp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center description">
                    <h1>
                        Sommercamp<br/>
                        <div class="sub">Das <strong>Hip Hop</strong> Trainingslager</div>
                    </h1>

                    <p>
                        Eine ganze Woche lang Spaß und deine Grundausbildung in allen Urbanen Tanzstilen. Vom 9ten bis
                        15ten
                        Juli.
                    </p>
                    <a href="mailto:kleinpariscrew@gmail.com">
                        <div class="btn btn-primary"><i class="far fa-envelope"></i> Anmeldung</div>
                    </a>
                    <div class="spacer"></div>
                    <a href="https://www.facebook.com/events/1955914707760872/" target="_blank">
                        <div class="btn btn-info"><i class="fab fa-facebook"></i> Info</div>
                    </a>
                </div>
                <div class="col-lg-4 align-self-center">
                    <img class="key-visual" src="img/camp/flyer.png">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="slick-carousel">
                <div><img class="item" src="img/camp/1.jpg"></div>
                <div><img class="item" src="img/camp/2.jpg"></div>
                <div><img class="item" src="img/camp/3.jpg"></div>
                <div><img class="item" src="img/camp/4.jpg"></div>
                <div><img class="item" src="img/camp/5.jpg"></div>
                <div><img class="item" src="img/camp/6.jpg"></div>
            </div>
        </div>
    </div>
    <div class="container section-heading">
        <div class="row justify-content-center">
            <div class="col-lg-4 text-center">
                <h4>Events: Battles</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 text-center">
                <hr/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row battle">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 align-self-center">
                <img class="key-visual" src="img/battle/battle_transparent.png">
            </div>
            <div class="col-lg-6 align-self-center description">
                <h1>
                    Newcomer Battle<br/>
                    <div class="sub">Der <strong>Wettkampf</strong> für den Nachwuchs.</div>
                </h1>

                <p>
                    Choreographie-Meisterschaften gibt es schon genug.
                    Bei uns kannst du in die Welt der Freestyle Battles reinschnuppern.
                </p>
                <a href="mailto:kleinpariscrew@gmail.com">
                    <div class="btn btn-primary"><i class="far fa-envelope"></i> Anmeldung</div>
                </a>
                <div class="spacer"></div>
                <a href="https://www.facebook.com/events/2061772620712796/" target="_blank">
                    <div class="btn btn-info"><i class="fab fa-facebook"></i> Info</div>
                </a>
            </div>
        </div>
    </div>
</section>
