<section id="events">
    <div class="container section-heading">
        <div class="row justify-content-center">
            <div class="col-lg-4 text-center">
                <h4>Events: Battles</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 text-center">
                <hr/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row battle">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 align-self-center">
                <img class="key-visual" src="img/battle/battletheramp_flyer.png">
            </div>
            <div class="col-lg-6 align-self-center description">
                <h1>
                    Battle the Ramp<br/>
                    <div class="sub">Das Freestyle Battle für <strong>Nachwuchstänzer</strong> und <strong>Profis</strong>.
                    </div>
                </h1>

                <p>
                    Am 14.07.2018 wird die Skate-Halfpipe beim Heizhaus Leipzig zur Zuschauertribüne für unser
                    Outdoorbattle.
                    Neben urbanem Tanz kommen noch weitere Elemente des HipHop zusammen: Zum Pausenprogramm gehört ein
                    Rapcypher, während jeder die Wände des Heizhaus selbst besprühen kann.
                </p>
                <a href="mailto:kleinpariscrew@gmail.com">
                    <div class="btn btn-primary"><i class="far fa-envelope"></i> Anmeldung</div>
                </a>
                <div class="spacer"></div>
                <a href="https://www.facebook.com/events/2061772620712796/" target="_blank">
                    <div class="btn btn-info"><i class="fab fa-facebook"></i> Info</div>
                </a>
            </div>
        </div>
    </div>
</section>
